app.name: tbk-bitcoin-spring-boot-starter-demo (dev)
app.description: A spring boot bitcoin demo application

spring.application.name: 'tbk-bitcoin-spring-boot-starter-demo-dev'
spring.http.log-request-details: false
spring.threads.virtual.enabled: true

server.port: 8080
server.compression.enabled: true

management.server.port: 9001

spring.datasource.url: 'jdbc:sqlite:lnurl_auth_example_application-dev.db?foreign_keys=true'

# LOGGING
logging.file.path: ./var/log
logging.file.name: application-dev.log
logging.config: classpath:logback-development.xml
logging.level.org.springframework: INFO
logging.level.org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
#logging.level.web: DEBUG
