app.name: tbk-bitcoin-spring-boot-starter-lnd-playground-example-app
app.description: A spring boot bitcoin demo application

spring.application.name: 'tbk-bitcoin-spring-boot-starter-demo'
spring.http.log-request-details: false

server.port: 8080
server.use-forward-headers: true
server.compression.enabled: true

server.servlet.session.timeout: 24h # Session timeout. If a duration suffix is not specified, seconds are used.

spring.datasource.url: 'jdbc:sqlite:lnurl_auth_example_application.db'
spring.datasource.driver-class-name: org.sqlite.JDBC
spring.datasource.hikari.pool-name: SQLitePool
spring.datasource.hikari.connection-timeout: 30000 #maximum number of milliseconds that a client will wait for a connection
spring.datasource.hikari.connection-test-query: 'SELECT 1'
spring.datasource.hikari.minimum-idle: 1 #minimum number of idle connections maintained by HikariCP in a connection pool
spring.datasource.hikari.maximum-pool-size: 1 #maximum pool size
spring.datasource.hikari.idle-timeout: 45000 #maximum idle time for connection
spring.datasource.hikari.max-lifetime: 60000 # maximum lifetime in milliseconds of a connection in the pool after it is closed.
spring.datasource.hikari.auto-commit: true #default auto-commit behavior.

spring.jpa.properties.hibernate.dialect: org.sqlite.hibernate.dialect.SQLiteDialect
spring.jpa.properties.hibernate.jdbc.time_zone: UTC


spring.session.store-type: jdbc # Session store type.
spring.session.jdbc.initialize-schema: never # never: do not initialize the schema - we will do that ourselves.
spring.session.jdbc.table-name: SPRING_SESSION # Name of the database table used to store sessions.


management.server.port: 9001

# LOGGING
logging.file.path: ./var/log
logging.file.name: application.log
logging.config: classpath:logback.xml
logging.level.org.springframework: INFO
logging.level.org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
#logging.level.web: DEBUG

info.app:
  name: "${app.name}"
  description: "${app.description}"
  java:
    version: "${java.version}"
    runtime:
      version: "${java.runtime.version}"
  user:
    timezone: "${user.timezone}"

management.endpoint.health.show-details: 'always'
management.endpoints.web.exposure.include: '*'
management.info.bitcoinJsonRpc.enabled: true
management.info.lndApi.enabled: true
management.health.bitcoinJsonRpc.enabled: true
management.health.lndApi.enabled: true

# app:
#  # use your own url here (e.g. http://myapp.onion or https://myapp.ngrok.io).
#  # if tor is enabled (`org.tbk.tor.enabled=true`) and this field is blank, tor will be used automatically.
#  lnurl-auth-base-url: http://localhost

org.tbk.tor:
  enabled: true  # default is `true`
  autoPublishEnabled: true # default is `true`
  working-directory: 'tor-working-dir' # default is `tor-working-dir`
  startup-timeout: 30s # default is `60s`
