app.name: tbk-bitcoin-spring-boot-starter-demo
app.description: A spring boot bitcoin demo application

spring.application.name: 'tbk-bitcoin-spring-boot-starter-demo'
spring.http.log-request-details: false

server.port: 8080
server.use-forward-headers: true
server.compression.enabled: true

management.server.port: 9001

# LOGGING
logging.file.path: ./var/log
logging.file.name: application.log
logging.config: classpath:logback.xml
logging.level.org.springframework: INFO
logging.level.org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
#logging.level.web: DEBUG

org.tbk.spring.testcontainer.electrum-daemon:
  enabled: true
  default-wallet: electrum/wallets/regtest/default_wallet
  environment:
    ELECTRUM_NETWORK: ${org.tbk.bitcoin.jsonrpc.network}
    ELECTRUM_USER: electrum
    ELECTRUM_PASSWORD: correct_horse_battery_staple_20210508

org.tbk.bitcoin.electrum-daemon.jsonrpc:
  enabled: true
  rpchost: http://localhost
  rpcport: 7000
  rpcuser: ${org.tbk.spring.testcontainer.electrum-daemon.environment.ELECTRUM_USER}
  rpcpassword: ${org.tbk.spring.testcontainer.electrum-daemon.environment.ELECTRUM_PASSWORD}

org.tbk.spring.testcontainer.electrumx:
  enabled: true
  rpcuser: ${org.tbk.spring.testcontainer.bitcoind.rpcuser}
  rpcpass: ${org.tbk.spring.testcontainer.bitcoind.rpcpassword}
  rpchost: localhost
  rpcport: 18443
  environment:
    NET: ${org.tbk.bitcoin.jsonrpc.network}
    COIN: BitcoinSegwit
    PEER_DISCOVERY: self
    PEER_ANNOUNCE: ''
    MAX_SESSIONS: 250

org.tbk.spring.testcontainer.lnd:
  enabled: true
  restport: 19080
  rpcport: 19009
  commands:
    - '--alias=tbk-lnd-example'
    - '--bitcoind.rpcuser=this-is-my-rpc-user99'
    - '--bitcoind.rpcpass=correct_horse_battery_staple_99'

org.tbk.lightning.lnd.grpc:
  enabled: true
  host: localhost
  port: ${org.tbk.spring.testcontainer.lnd.rpcport}
  # path to the admin macaroon file within the container!
  macaroon-file-path: '/root/.lnd/data/chain/bitcoin/regtest/admin.macaroon'
  # path to the tls cert file within the container!
  cert-file-path: '/root/.lnd/tls.cert'

org.tbk.spring.testcontainer.bitcoind:
  enabled: true
  rpcuser: this-is-my-rpc-user99
  rpcpassword: correct_horse_battery_staple_99
  exposed-ports:
    - 28332
    - 28333
  commands:
    # [zeromq]
    # Enable publishing of raw block hex to <address>.
    - '-zmqpubrawblock=tcp://0.0.0.0:28332'
    # Enable publishing of raw transaction hex to <address>.
    - '-zmqpubrawtx=tcp://0.0.0.0:28333'
    # [rpc]
    # Number of seconds after which an uncompleted RPC call will time out
    - '-rpcservertimeout=10' # default is 30
    # [debug]
    # Enable debug logging for categories.
    # '-debug=1' would log ALL messages
    - '-debug=rpc,zmq'
    # Log IP Addresses in debug output.
    - '-logips=1'
    # Append comment to the user agent string.
    - '-uacomment=tbk-bitcoin-regtest-example'
    # Allows you to test address relay on localhost.
    - '-addrmantest=1'
    # Send trace/debug info to console instead of debug.log.
    - '-printtoconsole=1'

org.tbk.bitcoin.regtest:
  enabled: true
  # mine blocks every 1 - 10 seconds
  mining:
    enabled: true
    # secret to address: across distance search gym explain fruit sense tiny decrease ribbon day course
    coinbase-reward-address: bcrt1q0lhr8js5rrhjl7hf6e80ns3pgk5tjswgg9um9t
    next-block-duration:
      min-duration: PT1S
      max-duration: PT10S

org.tbk.bitcoin.jsonrpc:
  network: regtest
  rpchost: http://localhost
  rpcport: 18443
  rpcuser: ${org.tbk.spring.testcontainer.bitcoind.rpcuser}
  rpcpassword: ${org.tbk.spring.testcontainer.bitcoind.rpcpassword}

org.tbk.bitcoin.zeromq:
  network: ${org.tbk.bitcoin.jsonrpc.network}
  zmqpubrawblock: tcp://localhost:28332
  zmqpubrawtx: tcp://localhost:28333
