app.name: tbk-bitcoin-spring-boot-starter-demo (dev)
app.description: A spring boot bitcoin demo application

spring.application.name: 'tbk-bitcoin-spring-boot-starter-demo (dev)'
spring.http.log-request-details: false

server.port: 8080
server.use-forward-headers: true
server.compression.enabled: true
server.error:
  include-exception: false
  include-binding-errors: 'always'
  include-stacktrace: 'never'
  include-message: 'never'

management.server.port: 9001

# LOGGING
logging.file.path: ./var/log
logging.file.name: application-dev.log
logging.config: classpath:logback-development.xml
logging.level.org.springframework: INFO
logging.level.org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
#logging.level.web: DEBUG

spring.jpa.properties.hibernate.format_sql: true
spring.jpa.properties.hibernate.show_sql: true
