app.name: tbk-bitcoin-spring-boot-starter-demo (dev)
app.description: A spring boot bitcoin demo application

spring.application.name: 'tbk-bitcoin-spring-boot-starter-demo-dev'
spring.http.log-request-details: true

server.port: 8080
server.compression.enabled: true

management.server.port: 9001

# LOGGING
logging.file.name: application-dev.log
logging.config: classpath:logback-development.xml
logging.level.org.springframework: INFO
logging.level.org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
logging.level.web: DEBUG

spring.docker.compose:
  enabled: true
  file: ../../docker/regtest/bitcoin/docker-compose.yml
  stop.command: DOWN # STOP is default, DOWN stops and removes containers and networks

org.tbk.bitcoin.jsonrpc:
  network: regtest
  rpchost: http://localhost
  rpcport: 18443
  rpcuser: regtest-rpc-user
  rpcpassword: regtest-rpc-pass
