app.name: tbk-bitcoin-spring-boot-starter-demo (dev)
app.description: A spring boot bitcoin demo application

spring.application.name: 'tbk-bitcoin-spring-boot-starter-demo (dev)'
spring.http.log-request-details: true

server.port: 8080
server.use-forward-headers: true
server.compression.enabled: true

management.server.port: 9001

# LOGGING
logging.file.name: application-dev.log
logging.config: classpath:logback-development.xml
logging.level.org.springframework: INFO
logging.level.org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
logging.level.web: DEBUG

spring.docker.compose:
  enabled: true
  file: ../../docker/regtest/bitcoin/docker-compose.yml
  stop.command: DOWN # STOP is default, DOWN stops and removes containers and networks

org.tbk.bitcoin.zeromq:
  network: regtest
  zmqpubrawblock: tcp://localhost:28332
  zmqpubrawtx: tcp://localhost:28333

org.tbk.bitcoin.jsonrpc:
  network: regtest
  rpchost: http://localhost
  rpcport: 18443
  rpcuser: regtest-rpc-user
  rpcpassword: regtest-rpc-pass

org.tbk.bitcoin.regtest:
  enabled: true
  # mine blocks every 1 - 10 seconds
  mining:
    enabled: true
    # secret to address: truth fever mom transfer steak immense lake jacket glide bring fancy electric
    coinbase-reward-address: bcrt1q0xtrupsjmqr7u7xz4meufd3a8pt6v553m8nmvz
    mine-initial-amount-of-blocks: 101
    next-block-duration:
      min-duration: PT1S
      max-duration: PT10S
