<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.tbk.bitcoin.tool.mqtt" level="DEBUG"/>

    <logger name="io.moquette.broker.PostOffice" level="WARN"/>
    <logger name="io.moquette.broker.metrics.MQTTMessageLogger" level="WARN"/>

</configuration>
