name: Build
on:
  pull_request:
  push:
    branches:
      - master
      - devel

jobs:

  validation:
    name: "Gradle Wrapper Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v3

  build:
    needs: validation
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 21 ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java-version }}

      - name: Print Java Version
        run: java --version

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/master' && github.ref != 'refs/heads/devel' }}

      - name: Lint Gradle File
        run: ./gradlew autoLintGradle

      - name: Build project
        run: ./gradlew build spotbugsMain -x test

      - name: Unit Test
        run: ./gradlew test

      - name: Integration Test
        run: ./gradlew integrationTest

      - name: Publish Candidate
        if: |
          startsWith(github.ref, 'refs/tags/v') &&
          contains(github.ref, '-rc.')
        run: ./gradlew --info --stacktrace -Prelease.useLastTag=true candidate

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        if: |
          startsWith(github.ref, 'refs/tags/v')
        with:
          name: Package
          path: ./**/build/libs/*.jar
